<div class="hef-dialog">
  <div class="hef-dialog__wrapper">
    <div class="hef-dialog__container">
      <div class="hef-dialog__header">
        <span class="hef-dialog__close-button" data-close-trigger="true">
          <span class="material-symbols-outlined"> close </span>
        </span>
      </div>

      <div class="hef-dialog__body">
        <h2>Set Reminder</h2>
        <p>Would you like to be reminded to rescore this patient?</p>
        <div class="hef-select-form">
          <label class="nhsuk-label" for="select-1"> Set scoring date </label>
          <select class="nhsuk-select" id="select-1" name="select-1">
            <option value="1">1 month</option>
            <option value="2" selected>3 months</option>
            <option value="3" disabled>6 months</option>
          </select>
        </div>
      </div>

      <div class="hef-dialog__controls">
        <button
          class="nhsuk-button nhsuk-button--secondary"
          data-close-trigger="true"
        >
          Cancel
        </button>
        <button class="nhsuk-button" data-close-trigger="true">Submit</button>
      </div>
    </div>
  </div>
</div>
