{% include base.html %}
<div class="hef-menu" data-component="true" data-component-type="mainmenu">
  <a class="hef-menu__link" href="/">
    <span class="material-symbols-outlined">menu</span>
    <span class="material-symbols-outlined hef-menu__link-text--hidden"
      >close</span
    >
  </a>

  <div class="hef-menu__container">
    <div class="hef-menu__body">
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Main menu">
        <h2 class="nhsuk-u-visually-hidden">Main Menu</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/">Home</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/patients"
              >Patient list</a
            >
          </li>

          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/drafts.html"
              >Drafts</a
            >
          </li>
          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/reminders.html"
              >Reminders</a
            >
          </li>
          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/deleted.html"
              >Deleted patients</a
            >
          </li>

          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/download.html"
              >Download patient data</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <div class="hef-menu__body">
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Main menu">
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/settings"
              >Settings</a
            >
          </li>

          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/">Logout</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
