{% include base.html %}
<div class="hef-menu" data-component="true" data-component-type="mainmenu">
  <div class="hef-menu__links">
    <nav class="hef-language-select" aria-label="Language switcher">
      <ul class="hef-language-select__list">
        <li class="hef-language-select__list-item">
          <span aria-current="true">English</span>
        </li>
        <li class="hef-language-select__list-item">
          <a
            href="?cy"
            hreflang="cy"
            lang="cy"
            rel="alternate"
            class="govuk-link"
            data-journey-click="link - click:lang-select:Cymraeg"
          >
            <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
            <span aria-hidden="true">Cymraeg</span>
          </a>
        </li>
      </ul>
    </nav>
    <a
      class="hef-menu__link hef-menu__link--notification"
      href="{{base}}/patients/reminders.html"
      ><span class="material-symbols-outlined smaller">notifications</span></a
    >

    <!-- <a class="hef-menu__link" href="/"
      ><span class="material-symbols-outlined smaller">language</span></a
    >-->

    <a class="hef-menu__link" data-trigger="true" href="/">
      <span class="material-symbols-outlined">menu</span>
      <span class="material-symbols-outlined hef-menu__link-text--hidden"
        >close</span
      >
    </a>
  </div>

  <div class="hef-menu__container">
    <div class="hef-menu__body">
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Main menu">
        <h2 class="nhsuk-u-visually-hidden">Main Menu</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/home">Home</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/patients"
              >Patient list</a
            >
          </li>
          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/demographics.html"
              >Profile list</a
            >
          </li>

          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/drafts.html"
              >Drafts</a
            >
          </li>
          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/reminders.html"
              >Reminders</a
            >
          </li>
          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/deleted.html"
              >Deleted patients</a
            >
          </li>

          <li class="nhsuk-contents-list__item">
            <a
              class="nhsuk-contents-list__link"
              href="{{ base }}/patients/download.html"
              >Download patient data</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <div class="hef-menu__body">
      <nav class="nhsuk-contents-list" role="navigation" aria-label="Main menu">
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/settings"
              >Settings</a
            >
          </li>

          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="{{ base }}/">Logout</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
