{% include base.html %} {% if include.existingsummary %}
<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Assessment already started
    </span>
  </h3>
  <p>An assessment for this patient has been started by Gwen on 01/01/2023.</p>
</div>
{% endif %}

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <div class="hef-cardcontrol">
      <div class="hef-cardcontrol__details">
        <h2 class="nhsuk-card__heading">Elin Roberts</h2>
        <p class="nhsuk-card__description">Born 15/09/2006</p>
        <p class="nhsuk-card__description">
          <a href="./create.html">Profile of needs</a>
        </p>
      </div>

      <div class="hef-cardcontrol__controls">
        <!-- prettier-ignore-attribute data-component-data -->
        <div
          class="hef-cardcontrol_control"
          data-component="true"
          data-component-type="deletedialog"
          data-component-data='{"label": "deceased"}'
        >
          <button class="nhsuk-button" data-delete-trigger="true">
            Set deceased
          </button>
          <div data-dialog-container="true"></div>
        </div>

        <!-- prettier-ignore-attribute data-component-data -->
        <div
          class="hef-cardcontrol_control"
          data-component="true"
          data-component-type="deletedialog"
          data-component-data='{"label": "discharged"}'
        >
          <button class="nhsuk-button" data-delete-trigger="true">
            Set discharged
          </button>
          <div data-dialog-container="true"></div>
        </div>

        <div class="hef-cardcontrol_control">
          {% if include.existingsummary %}
          <a href="{{base}}/patient/scoring0.html" class="nhsuk-button"
            >Continue Assessment</a
          >
          {% else %}
          <a href="{{base}}/patient/scoring0.html" class="nhsuk-button"
            >New assessment</a
          >
          {% endif %}
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <!-- prettier-ignore-attribute data-component-data -->
        <div
          data-component="true"
          data-component-type="radarchart"
          data-component-data='{{site.data.totals.value}}'
        ></div>
      </div>

      <div class="nhsuk-grid-column-one-quarter">
        <div class="hef-vert-block">
          <table class="nhsuk-table">
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Genetic</td>
                <td class="nhsuk-table__cell">60%</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Behaviour</td>
                <td class="nhsuk-table__cell">26%</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Communication</td>
                <td class="nhsuk-table__cell">58%</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Service Quality</td>
                <td class="nhsuk-table__cell">89%</td>
              </tr>

              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Social</td>
                <td class="nhsuk-table__cell">45%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="nhsuk-grid-column-one-quarter">
        <div class="hef-vert-block">
          <h6>Average HEF score</h6>
          <p class="nhsuk-card__description hef-standout">58%</p>
          <p>Latest 21/4/2023<br />5th HEF Score</p>
        </div>
      </div>
    </div>
  </div>
</div>
