<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <div class="hef-cardcontrol">
      <div class="hef-cardcontrol__details">
        <h2 class="nhsuk-card__heading">Elin Roberts</h2>
        <p class="nhsuk-card__description">Born 15/09/2006</p>
        <p class="nhsuk-card__description"><a href="/">Profile of needs</a></p>
      </div>

      <div class="hef-cardcontrol__controls">
        <div>
          <button class="nhsuk-button">Delete User</button>
        </div>

        <div>
          <button class="nhsuk-button">New Assessment</button>
        </div>
      </div>
    </div>
  </div>
</div>
