{% include base.html %}

<div class="hef-cardcontrol hef-cardcontrol--padded">
  <div class="hef-cardcontrol__details">
    <h2 class="nhsuk-card__heading">Elin Roberts</h2>
    <p class="nhsuk-card__description">Born 15/09/2006</p>
    <p class="nhsuk-card__description"><a href="/">Profile of needs</a></p>
  </div>

  <div class="hef-cardcontrol__controls">
    <div class="hef-cardcontrol_control">
      <a href="{{base}}/patient/scoring0.html" class="nhsuk-button hef-button"
        ><span class="material-symbols-outlined icon">flowsheet</span>Score
        Values</a
      >
    </div>

    <div class="hef-cardcontrol_control">
      <a href="/" class="nhsuk-button hef-button">
        <span class="material-symbols-outlined icon">picture_as_pdf</span>PDF
        Report
      </a>
    </div>
  </div>
</div>
