<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <div class="hef-cardcontrol">
      <div class="hef-cardcontrol__details">
        <h2 class="nhsuk-card__heading">Elin Roberts</h2>
      </div>

      <div class="hef-cardcontrol__controls hef-cardcontrol__controls--last">
        <div class="hef-cardcontrol_control hef-cardcontrol_control--inline">
          <label for="hef-scoring-select">HEF+ Scoring</label>
          <select
            class="nhsuk-select"
            id="hef-scoring-select"
            name="hef-scoring-select"
          >
            <option value="1">First score</option>
            <option value="2" selected>Last score</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <label class="nhsuk-label">Notes about patient</label>
      <textarea
        class="nhsuk-textarea"
        id="example"
        name="example"
        rows="2"
        aria-describedby="example-hint"
      ></textarea>
    </div>
  </div>
</div>

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a
          class="nhsuk-breadcrumb__link {% if include.current == '0' %}hef-breadcrumb-link--active{% endif %}"
          href="./scoring0.html"
          >Social</a
        >
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a
          class="nhsuk-breadcrumb__link {% if include.current == '1' %}hef-breadcrumb-link--active{% endif %}"
          href="./scoring1.html"
          >Genetic and Biological</a
        >
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a
          class="nhsuk-breadcrumb__link {% if include.current == '2' %}hef-breadcrumb-link--active{% endif %}"
          href="./scoring2.html"
          >Communication Difficulties and Reduced Health Literacy</a
        >
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a
          class="nhsuk-breadcrumb__link {% if include.current == '3' %}hef-breadcrumb-link--active{% endif %}"
          href="./scoring3.html"
          >Personal Behaviour and Lifestyle</a
        >
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a
          class="nhsuk-breadcrumb__link {% if include.current == '4' %}hef-breadcrumb-link--active{% endif %}"
          href="./scoring4.html"
          >Deficiencies in Service Quality and Access</a
        >
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a
        class="nhsuk-breadcrumb__backlink"
        href="/level-one/level-two/level-three"
        >Back to Level three</a
      >
    </p>
  </div>
</nav>
