<div class="hef-footer-controls hef-footer-controls--leftright">
  <a
    class="nhsuk-button nhsuk-button--secondary hef-button__footer--left"
    href="./summary.html"
  >
    Save progress and exit
  </a>

  <div class="hef-progress">
    <p>Progress</p>
    <div class="hef-progress__inner">
      <div
        class="hef-progress__bar{% if include.progress == '0%' %} hef-progress__bar--zero{% endif %}"
        style="width: {{include.progress}}"
      >
        <small>{{include.progress}}</small>
      </div>
    </div>
  </div>

  {% if include.next == "final" %}
  <a class="nhsuk-button" href="./scoringprofileofneeds.html">Submit</a>
  {% else %}
  <a class="nhsuk-button" href="./scoring{{include.next}}.html"
    >Save and proceed</a
  >
  {% endif %}
</div>
