<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h1 class="nhsuk-fieldset__heading">Profile of needs</h1>
  </legend>

  <div class="nhsuk-checkboxes">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-6_3"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-6_3"
            >
              Endocrine Disorder
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-6_2"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-6_2"
            >
              Epilepsy
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-1_3"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-1_3"
            >
              Mental Health Illness
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-2_1"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-2_1"
            >
              Challenging Behaviour
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-2_2"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-2_2"
            >
              Sleep Problems
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-2_3"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-2_3"
            >
              Respiratory Problems
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-3_1"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-3_1"
            >
              Coronary Heart Disease
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-3_2"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-3_2"
            >
              Visual Impairment
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-3_3"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-3_3"
            >
              Hearing Impairment
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-4_1"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-4_1"
            >
              Dysphagia
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-4_2"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-4_2"
            >
              Continence Needs
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-4_3"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-4_3"
            >
              Nutritional Problems
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-5_1"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-5_1"
            >
              Physical Impairments/Reduced Mobility
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-5_2"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-5_2"
            >
              Wheelchair User
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-5_3"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-5_3"
            >
              Chronic Pain
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-6_1"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-6_1"
            >
              Oral Hygiene Problems
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third">
          <div class="nhsuk-checkboxes__item">
            <input
              class="nhsuk-checkboxes__input"
              id="example-7_1"
              name="example"
              type="checkbox"
              value=""
            />
            <label
              class="nhsuk-label nhsuk-checkboxes__label"
              for="example-7_1"
            >
              Cancer/Other Major Physical Health
            </label>
          </div>
        </div>

        <div class="nhsuk-grid-column-one-third"></div>
      </div>
    </div>
  </div>
</fieldset>
