---
layout: default
title: 'Create'
---

{% include base.html %}

<h1>Profile of needs</h1>

<fieldset class="nhsuk-fieldset">
  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
    <h2 class="nhsuk-fieldset__heading">Profile assessment</h2>
  </legend>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="select-1"> Accommodation type </label>
        <select
          class="nhsuk-select hef-select--full-width"
          id="select-1"
          name="select-1"
        >
          <option value="1">Option 1</option>
          <option value="2" selected>Option 2</option>
          <option value="3" disabled>Option 3</option>
        </select>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-half"></div>
  </div>
</fieldset>

{% include variablepon.html %}

<div class="hef-footer-controls hef-footer-controls--leftright">
  <p></p>
  <a class="nhsuk-button" href="./report.html">Submit</a>
</div>
