@import 'colors.scss';

@import '../../js/node_modules/nhsuk-frontend/packages/nhsuk.scss';

$bodyColor: #000000;
$bodyFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

body {
  background: $color_nhsuk-grey-5;
  color: $bodyColor;
  font-family: $bodyFont;
}

// header
.nhsuk-header {
  &__logo {
    &--offset {
      svg {
        top: 0px;
        position: absolute;
      }
    }
  }
}

// main menu
.hef-menu {
  float: right;
  height: 40px;

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    position: relative;
    color: white;
    z-index: 10;
    padding-left: 20px;

    span {
      &.smaller {
        font-size: 24px;
      }

      font-size: 48px;
    }

    &:hover,
    &:visited,
    &:focus,
    &:focus:visited {
      color: white;
      background: transparent;
      box-shadow: none;
    }

    &-text {
      &--hidden {
        display: none;
      }
    }
  }

  &__container {
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    right: -400px;
    top: 80px;
    width: 400px;
    height: calc(100vh - 80px);
    background: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: right 0.2s ease-out;
    &--open {
      right: 0px;
    }
  }

  &__body {
  }
}

//body {
.nhsuk-main-wrapper {
  min-height: calc(100vh - 180px);
}

// tables

.hef-table {
  &__sort-button {
    font-size: 16px;
    border: none;
    background: transparent;
    position: relative;
    right: 0;
    width: 16px;
    height: 16px;
    top: 6px;
    padding: 0;
    cursor: pointer;
    span {
      font-size: 24px;
    }
  }

  &__pagination {
    position: relative;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: row;
  }

  &__pagination-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

// profile card
.hef-cardcontrol {
  display: flex;
  flex-direction: row;

  &__details {
    width: 60%;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: end;

    div {
      padding-left: 10px;
    }
  }
}
