@import 'colors.scss';

@import '../../js/node_modules/nhsuk-frontend/packages/nhsuk.scss';

$bodyColor: #000000;
$bodyFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

body {
  background: $color_nhsuk-grey-5;
  color: $bodyColor;
  font-family: $bodyFont;
}

// header
.nhsuk-header {
  &__logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;

    &--offset {
      a {
        margin-right: 20px;

        &.nhsuk-header__link--offset {
          margin-top: -10px;

          svg {
            height: 60px;
          }
        }
      }

      svg {
        top: 0px;
      }
    }
  }
}

// main menu
.hef-menu {
  float: right;
  height: 40px;

  &__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    position: relative;
    color: white;
    z-index: 10;
    padding-left: 20px;

    &--notification {
      &::after {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: red;
        border-radius: 10px;
        top: 0;
        right: 0;
      }
    }

    span {
      &.smaller {
        font-size: 24px;
      }

      font-size: 48px;
    }

    &:hover,
    &:visited,
    &:focus,
    &:focus:visited {
      color: white;
      background: transparent;
      box-shadow: none;
    }

    &-text {
      &--hidden {
        display: none;
      }
    }
  }

  &__container {
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    right: -400px;
    top: 80px;
    width: 400px;
    height: calc(100vh - 80px);
    background: white;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: right 0.2s ease-out;
    &--open {
      right: 0px;
    }
  }

  &__body {
  }
}

// language switcher
.hef-language-select {
  display: inline;
  color: white;
  margin-top: -12px;

  ul {
    float: right;
    margin-bottom: 0;

    li {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 0;

      &:first-child {
        &::after {
          border-right: 0.09375em solid white;
          content: '';
          display: inline-block;
          height: 1em;
          position: relative;
          top: 0.1875em;
        }
      }

      a {
        color: white;
      }
    }
  }

  .govuk-visually-hidden {
    display: none;
  }
}

//body {
.nhsuk-main-wrapper {
  min-height: calc(100vh - 180px);
}

// tables

.hef-table {
  &__row {
    &--selected {
      td {
        background: white;
      }
    }
  }

  &__sort-button {
    font-size: 16px;
    border: none;
    background: transparent;
    position: relative;
    right: 0;
    width: 16px;
    height: 16px;
    top: 6px;
    padding: 0;
    cursor: pointer;
    span {
      font-size: 24px;
    }
  }

  &__pagination {
    position: relative;
    font-size: 16px;
    color: black;
    display: flex;
    flex-direction: row;
  }

  &__pagination-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

// profile card
.hef-cardcontrol {
  display: flex;
  flex-direction: row;

  &__details {
    width: 60%;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: end;

    &--last {
      margin-left: auto;
    }

    .hef-cardcontrol_control {
      padding-left: 10px;

      &--inline {
        display: inline-flex;
        align-items: center;

        p,
        label {
          margin-bottom: 0;
        }

        select {
          margin-left: 20px;
        }
      }
    }
  }
}

// dialogs

.hef-dialog {
  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  &__container {
    width: 500px;
    height: 450px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__header {
    width: 100%;
    background: $color_nhsuk-blue;
    height: 50px;
  }

  &__body {
    padding: 10px;
  }

  &__controls {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;

    button {
      margin-left: 10px;
    }
  }

  &__close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
    display: block;
    color: white;
  }
}

//profile
.hef-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__title {
  }

  &__controls {
  }
}

// search box

.hef-search {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__input-control {
    height: 60px;
    padding: 0 10px;
  }

  &__button-control {
    padding-left: 10px;
    width: auto;

    button {
      margin-bottom: 0;
      width: 160px;
    }
  }
}

// forms
.hef-login {
  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.hef-select {
  &--full-width {
    width: 100%;
  }
}

// buttons
.hef-button {
  span.icon {
    top: 4px;
    font-size: 20px;
    position: relative;
  }
}

// footer controls
.hef-button-control {
  text-align: right;
}

.hef-footer-controls {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  &--leftright {
    justify-content: space-between;
  }

  button {
    margin-left: 20px;
    margin-bottom: 0;
  }

  .hef-button__footer--left {
    margin-left: 0;
  }

  .hef-link--back {
    margin-right: auto;
    font-size: 24px;
  }
}

// expander

.hef-expander {
  background: white;
  border: 1px solid $color_nhsuk-grey-3;
  padding: 20px;

  h3 {
    margin-bottom: 0;
    display: inline-flex;

    .check-icon {
      font-size: 36px;
      color: $color_nhsuk-green;

      &--hidden {
        display: none;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    .icon {
      margin-left: auto;
    }
  }

  &__body {
  }

  &--closed {
    .hef-expander__header {
      margin-bottom: 0;
    }

    .hef-expander__body {
      display: none;
    }
  }
}

.hef-sub-expander {
  margin-bottom: 10px;

  &__body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  &__content {
    width: 70%;
    h5 {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      margin-bottom: 16px;

      span {
        margin-right: 10px;
      }
    }
  }

  &__level {
    width: 150px;
    margin-left: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &--0 {
      background: #ff0000;
    }

    &--1 {
      background: #ff6600;
    }

    &--2 {
      background: #ff9900;
    }

    &--3 {
      background: #ffc000;
    }

    &--4 {
      background: #25db48;
    }
  }

  &__select {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      width: 20px;
      height: 20px;
    }
  }

  &--closed {
    .hef-sub-expander__content {
      p {
        display: none;
      }

      h5 {
        margin-bottom: 0;
      }
    }
  }
}

// typo

.hef-standout {
  font-size: 60px;
}

// layout

.hef-vert-block {
}
