<table>
  <thead>
    <tr>
      {% if selectable %}
      <th></th>
      {% endif %} {% for header in headers %}
      <th {% if header.width %}style="width:{{header.width}}" {% endif %}>
        {{ header.label }}
        <button class="hef-table__sort-button" data-sort="{{header.key}}">
          <span class="material-symbols-outlined"
            >{% if sortCol == header.key and order == 'DESC' %}expand_less{%
            else %}expand_more{% endif %}</span
          >
        </button>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}

    <tr class="">
      {% if selectable %}
      <td><input data-select="true" type="checkbox" value="" /></td>
      {% endif %} {% for header in headers %}
      <td>
        {% if header.link %} {% if row[header.key] == 'David Readytoscore' %}
        <a href="/{{base}}/{{header.link}}?p={{row[header.linkVal]}}">
          {{ row[header.key] }}</a
        >
        {% elif row[header.key] == 'Betty Existingscoring' %}
        <a href="/{{base}}/patient/summaryscoreactive.html">
          {{ row[header.key] }}</a
        >
        {% else %}
        <a href="/{{base}}/{{header.link}}?p={{row[header.linkVal]}}">
          {{ row[header.key] }}</a
        >
        {% endif %} {% else %} <span>{{ row[header.key] }}</span> {% endif %}
      </td>
      {% endfor %}
    </tr>

    {% endfor %}
  </tbody>
</table>
<div class="hef-table__pagination">
  <button class="hef-table__pagination-button" data-paginate-left="true">
    <span class="material-symbols-outlined">chevron_left</span>
  </button>
  {{pagination.offset}} to {{pagination.limit}} of {{pagination.total}}
  <button class="hef-table__pagination-button" data-paginate-right="true">
    <span class="material-symbols-outlined">chevron_right</span>
  </button>
</div>
