<div class="hef-dialog">
  <div class="hef-dialog__wrapper">
    <div class="hef-dialog__container">
      <div class="hef-dialog__header">
        <span class="hef-dialog__close-button" data-close-trigger="true">
          <span class="material-symbols-outlined"> close </span>
        </span>
      </div>

      <div class="hef-dialog__body">
        <h2>Select scores to plot</h2>

        <div class="hef-select-rows">
          <div class="hef-select-rows__row">
            <input type="checkbox" name="row1" />
            <p>Score date 1 - Score</p>
          </div>

          <div class="hef-select-rows__row">
            <input type="checkbox" name="row1" />
            <p>Score date 2 - Score</p>
          </div>

          <div class="hef-select-rows__row">
            <input type="checkbox" name="row1" />
            <p>Score date 3 - Score</p>
          </div>

          <div class="hef-select-rows__row">
            <input type="checkbox" name="row1" />
            <p>Score date 4 - Score</p>
          </div>

          <div class="hef-select-rows__row">
            <input type="checkbox" name="row1" />
            <p>Score date 5 - Score</p>
          </div>
        </div>
      </div>

      <div class="hef-dialog__controls">
        <button class="nhsuk-button" data-close-trigger="true">Compare</button>
      </div>
    </div>
  </div>
</div>
