<div class="hef-dialog">
  <div class="hef-dialog__wrapper">
    <div class="hef-dialog__container">
      <div class="hef-dialog__header">
        <span class="hef-dialog__close-button" data-close-trigger="true">
          <span class="material-symbols-outlined"> close </span>
        </span>
      </div>

      <div class="hef-dialog__body">
        <h2>Select scores to plot</h2>

        <div class="hef-select-rows">
          <div class="hef-select-rows__row">
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input
                  type="checkbox"
                  class="nhsuk-checkboxes__input"
                  name="row1"
                />
                <label class="nhsuk-label nhsuk-checkboxes__label"
                  >22/04/2023 - Score 66%</label
                >
              </div>
            </div>
          </div>

          <div class="hef-select-rows__row">
            <div class="nhsuk-checkboxes__item">
              <input
                type="checkbox"
                class="nhsuk-checkboxes__input"
                name="row1"
              />
              <label class="nhsuk-label nhsuk-checkboxes__label"
                >10/03/2023 - Score 62%</label
              >
            </div>
          </div>

          <div class="hef-select-rows__row">
            <div class="nhsuk-checkboxes__item">
              <input
                type="checkbox"
                class="nhsuk-checkboxes__input"
                name="row1"
              />
              <label class="nhsuk-label nhsuk-checkboxes__label"
                >01/02/2023 - Score 54%</label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="hef-dialog__controls">
        <button class="nhsuk-button" data-close-trigger="true">Compare</button>
      </div>
    </div>
  </div>
</div>
