<div class="hef-dialog">
  <div class="hef-dialog__wrapper">
    <div class="hef-dialog__container">
      <div class="hef-dialog__header">
        <span class="hef-dialog__close-button" data-close-trigger="true">
          <span class="material-symbols-outlined"> close </span>
        </span>
      </div>

      <div class="hef-dialog__body">
        <h2>Delete user</h2>
        <p>
          Are you sure you want to delete this record from your team or would
          you like to remove from here only?
        </p>
      </div>

      <div class="hef-dialog__controls">
        <button class="nhsuk-button nhsuk-button--secondary">Cancel</button>
        <button class="nhsuk-button">Delete here</button>
        <button class="nhsuk-button">Delete from team</button>
      </div>
    </div>
  </div>
</div>
