<div class="hef-dialog">
  <div class="hef-dialog__wrapper">
    <div class="hef-dialog__container">
      <div class="hef-dialog__header">
        <span class="hef-dialog__close-button" data-close-trigger="true">
          <span class="material-symbols-outlined"> close </span>
        </span>
      </div>

      <div class="hef-dialog__body">
        <h2>Set user {{label}}</h2>
        <p>
          Are you sure you want to set the patient as {{label}}? This will
          remove the record from your patient list.
        </p>
      </div>

      <div class="hef-dialog__controls">
        <button
          class="nhsuk-button nhsuk-button--secondary"
          data-close-trigger="true"
        >
          Cancel
        </button>

        <button class="nhsuk-button" data-close-trigger="true">
          Set {{label}}
        </button>
      </div>
    </div>
  </div>
</div>
